<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NatureFarm | About Us</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="logo">NatureFarm 🐮</a>
        <nav>
            <ul>
                <li><a href= "{% url "home" %}">Home</a></li>
                <li><a href= "{% url "about" %}">About Us</a></li>
                <li><a href= "{% url "contact" %}">Contact</a></li>
                <li><a href= "{% url "login" %}" class="btn">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>About NatureFarm</h1>
        <p>Founded in 2010, we are dedicated to sustainable farming practices.</p>
        <br>
        <div class="grid">
            <div class="card">
                <h4>Our Mission</h4>
                <p>To provide the healthiest organic food.</p>
            </div>
            <div class="card">
                <h4>Our Vision</h4>
                <p>To be the leading sustainable farm in the region.</p>
            </div>
        </div>
    </main>

    {% include "footer_and_js.html" %}
</body>
</html>