<html>
<head>
    <title>{{ title }}</title>
    <style>
        /* Center headings horizontally */
        .text-center { text-align: center; }
    </style>
</head>
<body>
    <h1 class="text-center">Welcome to the Authentication Home Page</h1>
    <hr>

    {% for i in course_list %}
        {{ forloop.counter }}. {{ i }}<br>
    {% endfor %}

    <br>

    <table align="center" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Serial No.</th> <th>Name</th> <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for sut in student_list %}
            <tr>
                <td align="center">{{forloop.counter}}</td> <td>{{ sut.name }}</td> <td>{{ sut.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
